.bg1-light {
    background-color: #e5ffee !important;
}
.bg2-light {
    background-color: mistyrose !important;
}
.bg3-light {
    background-color: powderblue !important;
}
.bg4-light {
    background-color: lightsalmon !important;
}
.bg4-light {
    background-color: #e9b7e6 !important;
}