@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Price";
    Layout = "~/Views/Shared/_SellerPageLayout.cshtml";
}

<!-- Skeleton loader Start -->
<div>
    <!-- Header Start -->
    <header class="header">
        <div class="logo-wrap">
            <a href="index.html"><i class="iconly-Arrow-Left-Square icli"></i></a>
            @*<h1 class="title-color font-md">ราคาขายทุเรียนวันนี้</h1>*@
        </div>
        <div class="avatar-wrap">
            <a href="index.html">
                <i class="iconly-Home icli"></i>
            </a>
        </div>
    </header>
    <!-- Header End -->
    <!-- Main Start -->
    <div class="main-wrap order-detail mb-xxl">
        <!-- Banner Start -->
        <div class="section-p-b">
            <div class="banner-box">
                <div class="media">
                    <div class="img"></div>
                    <div class="media-body">
                        <h2>ราคาขายทุเรียนประจำวัน</h2>                    
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner End -->
        <!-- Item Price List Start -->
        <!-- pricing table  -->
        <section id="pricing-tables">
            @*<div class="container p-0 pt-4 align-content-center">
                <div class="col-md-3 col-sm-6 col-xs-12 color-1">
                    <div class="single-table text-center">
                        <div class="plan-header">
                            <h3>basic</h3>
                            <p>plan for basic user</p>
                            <h4 class="plan-price">$30<span>/mo</span></h4>
                        </div>


                        <ul class="text-center">
                            <li>10 Free PSD files</li>
                            <li>10 Free PSD files</li>
                            <li>10 Free PSD files</li>
                            <li>10 Free PSD files</li>
                            <li>10 Free PSD files</li>
                            <li>10 Free PSD files</li>
                        </ul>
                        <a href="#" class="plan-submit hvr-bubble-float-right">buy now</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 color-2">
                    <div class="single-table text-center">
                        <div class="plan-header">
                            <h3>basic</h3>
                            <p>plan for basic user</p>
                            <h4 class="plan-price">$30<span>/mo</span></h4>
                        </div>


                        <ul class="text-center">
                            <li>10 Free PSD files</li>
                            <li>10 Free PSD files</li>
                            <li>10 Free PSD files</li>
                            <li>10 Free PSD files</li>
                            <li>10 Free PSD files</li>
                            <li>10 Free PSD files</li>
                        </ul>
                        <a href="#" class="plan-submit hvr-bubble-float-right">buy now</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 color-3">
                    <div class="single-table text-center">
                        <div class="plan-header">
                            <h3>basic</h3>
                            <p>plan for basic user</p>
                            <h4 class="plan-price">$30<span>/mo</span></h4>
                        </div>


                        <ul class="text-center">
                            <li>10 Free PSD files</li>
                            <li>10 Free PSD files</li>
                            <li>10 Free PSD files</li>
                            <li>10 Free PSD files</li>
                            <li>10 Free PSD files</li>
                            <li>10 Free PSD files</li>
                        </ul>
                        <a href="#" class="plan-submit hvr-bubble-float-right">buy now</a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 color-4">
                    <div class="single-table text-center">
                        <div class="plan-header">
                            <h3>basic</h3>
                            <p>plan for basic user</p>
                            <h4 class="plan-price">$30<span>/mo</span></h4>
                        </div>


                        <ul class="text-center">
                            <li>10 Free PSD files</li>
                            <li>10 Free PSD files</li>
                            <li>10 Free PSD files</li>
                            <li>10 Free PSD files</li>
                            <li>10 Free PSD files</li>
                            <li>10 Free PSD files</li>
                        </ul>
                        <a href="#" class="plan-submit hvr-bubble-float-right">buy now</a>
                    </div>
                </div>

            </div>*@
            <div class="product-list media">
                <a href="shop.html"><img src="~/images/durian-product/montong.png" class="img-fluid" alt="offer" /></a>
                <div class="media-body">
                    <a href="shop.html">หมอนทอง</a>
                    <p class="content-color">organic vegetables & fruits, fresh cuted vegies & fruits</p>
                </div>
                <span>
                    <a href="../Seller/PriceDetail" class="arrow-nav"> <i data-feather="chevron-right"></i></a>
                </span>
            </div>

            <div class="product-list media">
                <a href="shop.html"><img src="~/images/durian-product/montong.png" class="img-fluid" alt="offer" /></a>
                <div class="media-body">
                    <a href="shop.html">ชะนี</a>
                    <p class="content-color">organic vegetables & fruits, fresh cuted vegies & fruits</p>
                </div>
                <span>
                    <a href="shop.html" class="arrow-nav"> <i data-feather="chevron-right"></i></a>
                </span>
            </div>

            <div class="product-list media">
                <a href="shop.html"><img src="~/images/durian-product/montong.png" class="img-fluid" alt="offer" /></a>
                <div class="media-body">
                    <a href="shop.html">ก้านยาว</a>
                    <p class="content-color">organic vegetables & fruits, fresh cuted vegies & fruits</p>
                </div>
                <span>
                    <a href="shop.html" class="arrow-nav"> <i data-feather="chevron-right"></i></a>
                </span>
            </div>

            <div class="product-list media">
                <a href="shop.html"><img src="~/images/durian-product/montong.png" class="img-fluid" alt="offer" /></a>
                <div class="media-body">
                    <a href="shop.html">ภูเขาไฟศรีสะเกษ</a>
                    <p class="content-color">organic vegetables & fruits, fresh cuted vegies & fruits</p>
                </div>
                <span>
                    <a href="shop.html" class="arrow-nav"> <i data-feather="chevron-right"></i></a>
                </span>
            </div>

            <div class="product-list media">
                <a href="shop.html"><img src="~/images/durian-product/montong.png" class="img-fluid" alt="offer" /></a>
                <div class="media-body">
                    <a href="shop.html">ป่าละอู</a>
                    <p class="content-color">organic vegetables & fruits, fresh cuted vegies & fruits</p>
                </div>
                <span>
                    <a href="shop.html" class="arrow-nav"> <i data-feather="chevron-right"></i></a>
                </span>
            </div>

            <div class="product-list media">
                <a href="shop.html"><img src="~/images/durian-product/montong.png" class="img-fluid" alt="offer" /></a>
                <div class="media-body">
                    <a href="shop.html">พวงมณี</a>
                    <p class="content-color">organic vegetables & fruits, fresh cuted vegies & fruits</p>
                </div>
                <span>
                    <a href="shop.html" class="arrow-nav"> <i data-feather="chevron-right"></i></a>
                </span>
            </div>

            <div class="product-list media">
                <a href="shop.html"><img src="~/images/durian-product/montong.png" class="img-fluid" alt="offer" /></a>
                <div class="media-body">
                    <a href="shop.html">หลงลับแล</a>
                    <p class="content-color">organic vegetables & fruits, fresh cuted vegies & fruits</p>
                </div>
                <span>
                    <a href="shop.html" class="arrow-nav"> <i data-feather="chevron-right"></i></a>
                </span>
            </div>

           @* <div class="price-table-list-wrapper">
                <div class="price-list">
                    <div class="dot" style="background-color:#1f77b4;"></div>
                    <div class="price-list-title">
                        ก้านยาวเบอร์ใหญ่
                    </div>
                    <div class="price-list-cost">
                        -
                    </div>
                    <div class="price-list-unit">
                        บาท/กก.
                    </div>
                </div>
                <div class="price-list">
                    <div class="dot" style="background-color:#aec7e8;"></div>
                    <div class="price-list-title">
                        ก้านยาวเบอร์เล็ก
                    </div>
                    <div class="price-list-cost">
                        -
                    </div>
                    <div class="price-list-unit">
                        บาท/กก.
                    </div>
                </div>
                <div class="price-list">
                    <div class="dot" style="background-color:#ff7f0e;"></div>
                    <div class="price-list-title">
                        ชะนีเบอร์ใหญ่
                    </div>
                    <div class="price-list-cost">
                        -
                    </div>
                    <div class="price-list-unit">
                        บาท/กก.
                    </div>
                </div>
                <div class="price-list">
                    <div class="dot" style="background-color:#ffbb78;"></div>
                    <div class="price-list-title">
                        ชะนีเบอร์เล็ก
                    </div>
                    <div class="price-list-cost">
                        -
                    </div>
                    <div class="price-list-unit">
                        บาท/กก.
                    </div>
                </div>
                <div class="price-list">
                    <div class="dot" style="background-color:#2ca02c;"></div>
                    <div class="price-list-title">
                        หมอนทองเบอร์ใหญ่
                    </div>
                    <div class="price-list-cost">
                        175.00
                    </div>
                    <div class="price-list-unit">
                        บาท/กก.
                    </div>
                </div>
                <div class="price-list">
                    <div class="dot" style="background-color:#98df8a;"></div>
                    <div class="price-list-title">
                        หมอนทองเบอร์เล็ก
                    </div>
                    <div class="price-list-cost">
                        140.00
                    </div>
                    <div class="price-list-unit" data-v-0447a852="">
                        บาท/กก.
                    </div>
                </div>
                <div class="price-list" data-v-0447a852="">
                    <div class="dot" style="background-color:#d62728;" data-v-0447a852=""></div>
                    <div class="price-list-title" data-v-0447a852="">
                        กระดุมเบอร์ใหญ่
                    </div>
                    <div class="price-list-cost" data-v-0447a852="">
                        -
                    </div>
                    <div class="price-list-unit" data-v-0447a852="">
                        บาท/กก.
                    </div>
                </div>
                <div class="price-list" data-v-0447a852="">
                    <div class="dot" style="background-color:#ff9896;" data-v-0447a852=""></div>
                    <div class="price-list-title" data-v-0447a852="">
                        กระดุมเบอร์เล็ก
                    </div>
                    <div class="price-list-cost" data-v-0447a852="">
                        -
                    </div>
                    <div class="price-list-unit" data-v-0447a852="">
                        บาท/กก.
                    </div>
                </div>
            </div>*@

        </section>

        <!-- end priceing table -->
        <!-- Item Price List End -->

    </div>
    <!-- Main End -->
</div>
<!-- Skeleton loader End -->