@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_SellerPageLayout.cshtml";
}

<!-- Skeleton loader Start -->
<div>
    <!-- Header Start -->
    <header class="header">
        <div class="logo-wrap">
            <a href="index.html"><i class="iconly-Arrow-Left-Square icli"></i></a>
            <h1 class="title-color font-md">รายการต้องทำ</h1>
        </div>
        <div class="avatar-wrap">
            <a href="index.html">
                <i class="iconly-Home icli"></i>
            </a>
        </div>
    </header>
    <!-- Header End -->
    <!-- Main Start -->
    <div class="main-wrap order-detail mb-xxl">
        <!-- Banner Start -->
        <div class="section-p-b">
            <div class="banner-box">
                <div class="media">
                    <div class="img"></div>
                    <div class="media-body">
                        <h2>รายการต้องทำประจำวัน</h2>
                        <span class="font-sm">สภาพอากาศ : คาดว่าฝนตก 9:00-10:00</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner End -->
        <!-- Item Section Start -->
        <div class="item-section p-0">
            <h3 class="font-theme font-md">กิจกรรมวันนี้ (21/10/65):</h3>

            <div class="item-wrap">
                <!-- Item Start -->
                <div class="media">
                    <div class="count">
                        <input type="checkbox" />
                    </div>
                    <div class="media-body">
                        <h4 class="title-color font-sm">รดน้ำ</h4>
                    </div>
                </div>
                <!-- Item End -->
                <!-- Item Start -->
                <div class="media">
                    <div class="count">
                        <input type="checkbox" />
                    </div>
                    <div class="media-body">
                        <h4 class="title-color font-sm">ใส่ปุ๋ย</h4>
                    </div>
                </div>
                <!-- Item End -->
                <!-- Item Start -->
                <div class="media">
                    <div class="count">
                        <input type="checkbox" />
                    </div>
                    <div class="media-body">
                        <h4 class="title-color font-sm">ตรวจดูใบ และราก</h4>
                    </div>
                </div>
                <!-- Item End -->
            </div>
        </div>
        <!-- Item Section End -->
        <!-- Item Section Start -->
        <div class="item-section p-0 pt-4">
            <h3 class="font-theme font-md" style="color:orangered !important;">ปัญหาที่พบ:</h3>

            <div class="item-wrap">
                <!-- Item Start -->
                <div class="media">
                    <div class="count">
                        <input type="checkbox" />
                    </div>
                    <div class="media-body">
                        <h4 class="title-color font-sm">ตรวจพบรายการผิดปกติ</h4>
                    </div>
                </div>
                <!-- Item End -->
                <!-- Item Start -->
                <div class="media">
                    <div class="count">
                        <input type="checkbox" />
                    </div>
                    <div class="media-body">
                        <h4 class="title-color font-sm">ใบเหลือง</h4>
                    </div>
                </div>
                <!-- Item End -->
                <!-- Item Start -->
                <div class="media">
                    <div class="count">
                        <input type="checkbox" />
                    </div>
                    <div class="media-body">
                        <h4 class="title-color font-sm">รากมีปัญหา</h4>
                    </div>
                </div>
                <!-- Item End -->
                <!-- Item Start -->
                <div class="media">
                    <div class="count">
                        <input type="checkbox" />
                    </div>
                    <div class="media-body">
                        <h4 class="title-color font-sm">เจอแมลง</h4>
                    </div>
                </div>
                <!-- Item End -->
            </div>
        </div>
        <!-- Item Section End -->
        <!-- Item Section Start -->
        <div class="item-section p-0 pt-4">
            <h3 class="font-theme font-md" style="color:dodgerblue !important;">อัพโหลดรูป :</h3>

        </div>
        <!-- Item Section End -->
        
    </div>
    <!-- Main End -->
</div>
<!-- Skeleton loader End -->