@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_SellerPageLayout.cshtml";
}

<!-- Skeleton loader Start -->
<div>
    <!-- Header Start -->
    <header class="header">
        <div class="logo-wrap">
            <a href="index.html"><i class="iconly-Arrow-Left-Square icli"></i></a>
            <h1 class="title-color font-md">คาดการณ์สภาาพอากาศ</h1>
        </div>
        <div class="avatar-wrap">
            <a href="index.html">
                <i class="iconly-Home icli"></i>
            </a>
        </div>
    </header>
    <!-- Header End -->
    <!-- Main Start -->
    <div class="main-wrap order-detail mb-xxl">
        <!-- Banner Start -->
        <div class="">
            <div class="banner-box">
                <div class="media">
                    <div class="img"></div>
                    <div class="media-body">
                        <h2>คาดการณ์สภาาพอากาศ : ชลบุรี</h2>
                        <span class="font-sm title-color fw-600">&nbsp;</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Banner End -->
        <section class="offer-section pb-0">
            <div class="offer">
                <div class="offer-wrap">
                    <div class="product-list media">
                        <img src="~/assets/images/weather/sun.png" class="img-fluid" alt="offer">
                        <div class="media-body">
                            <span class="font-sm title-color fw-600"> 4:00 โอกาสเกิดฝน 10% </span>
                            <span class="content-color font-sm">26°</span>
                        </div>
                    </div>
                    <div class="product-list media">
                        <img src="~/assets/images/weather/sun.png" class="img-fluid" alt="offer">
                        <div class="media-body">
                            <span class="font-sm title-color fw-600"> 5:00 โอกาสเกิดฝน 15% </span>
                            <span class="content-color font-sm">26°</span>
                        </div>
                    </div>
                    <div class="product-list media">
                        <img src="~/assets/images/weather/sun.png" class="img-fluid" alt="offer">
                        <div class="media-body">
                            <span class="font-sm title-color fw-600"> 6:00 โอกาสเกิดฝน 10% </span>
                            <span class="content-color font-sm">27°</span>
                        </div>
                    </div>

                    <div class="product-list media">
                        <img src="~/assets/images/weather/sun.png" class="img-fluid" alt="offer">
                        <div class="media-body">
                            <span class="font-sm title-color fw-600"> 7:00 โอกาสเกิดฝน 15% </span>
                            <span class="content-color font-sm">28°</span>
                        </div>
                    </div>

                    <div class="product-list media">
                        <img src="~/assets/images/weather/sun.png" class="img-fluid" alt="offer">
                        <div class="media-body">
                            <span class="font-sm title-color fw-600"> 8:00 โอกาสเกิดฝน 15% </span>
                            <span class="content-color font-sm">28°</span>
                        </div>
                    </div>

                    <div class="product-list media">
                        <img src="~/assets/images/weather/sun.png" class="img-fluid" alt="offer">
                        <div class="media-body">
                            <span class="font-sm title-color fw-600"> 9:00 โอกาสเกิดฝน 45% </span>
                            <span class="content-color font-sm">33°</span>
                        </div>
                    </div>
                    <div class="product-list media">
                        <img src="~/assets/images/weather/rain.png" class="img-fluid" alt="offer">
                        <div class="media-body">
                            <span class="font-sm title-color fw-600"> 10:00 โอกาสเกิดฝน 75% </span>
                            <span class="content-color font-sm">29°</span>
                        </div>
                    </div>
                    <div class="product-list media">
                        <img src="~/assets/images/weather/rain.png" class="img-fluid" alt="offer">
                        <div class="media-body">
                            <span class="font-sm title-color fw-600"> 11:00 โอกาสเกิดฝน 85% </span>
                            <span class="content-color font-sm">27°</span>
                        </div>
                    </div>
                    <div class="product-list media">
                        <img src="~/assets/images/weather/sun.png" class="img-fluid" alt="offer">
                        <div class="media-body">
                            <span class="font-sm title-color fw-600"> 12:00 โอกาสเกิดฝน 35% </span>
                            <span class="content-color font-sm">30°</span>
                        </div>
                    </div>
                    <div class="product-list media">
                        <img src="~/assets/images/weather/sun.png" class="img-fluid" alt="offer">
                        <div class="media-body">
                            <span class="font-sm title-color fw-600"> 13:00 โอกาสเกิดฝน 25% </span>
                            <span class="content-color font-sm">32°</span>
                        </div>
                    </div>
                    <div class="product-list media">
                        <img src="~/assets/images/weather/sun.png" class="img-fluid" alt="offer">
                        <div class="media-body">
                            <span class="font-sm title-color fw-600"> 14:00 โอกาสเกิดฝน 25% </span>
                            <span class="content-color font-sm">32°</span>
                        </div>
                    </div>
                    <div class="product-list media">
                        <img src="~/assets/images/weather/sun.png" class="img-fluid" alt="offer">
                        <div class="media-body">
                            <span class="font-sm title-color fw-600"> 15:00 โอกาสเกิดฝน 20% </span>
                            <span class="content-color font-sm">32°</span>
                        </div>
                    </div>
                    <div class="product-list media">
                        <img src="~/assets/images/weather/sun.png" class="img-fluid" alt="offer">
                        <div class="media-body">
                            <span class="font-sm title-color fw-600"> 16:00 โอกาสเกิดฝน 20% </span>
                            <span class="content-color font-sm">32°</span>
                        </div>
                    </div>
                    <div class="product-list media">
                        <img src="~/assets/images/weather/sun.png" class="img-fluid" alt="offer">
                        <div class="media-body">
                            <span class="font-sm title-color fw-600"> 17:00 โอกาสเกิดฝน 20% </span>
                            <span class="content-color font-sm">32°</span>
                        </div>
                    </div>
                    <div class="product-list media">
                        <img src="~/assets/images/weather/sun.png" class="img-fluid" alt="offer">
                        <div class="media-body">
                            <span class="font-sm title-color fw-600"> 18:00 โอกาสเกิดฝน 20% </span>
                            <span class="content-color font-sm">32°</span>
                        </div>
                    </div>
                    <div class="product-list media">
                        <img src="~/assets/images/weather/moon.png" class="img-fluid" alt="offer">
                        <div class="media-body">
                            <span class="font-sm title-color fw-600"> 19:00 โอกาสเกิดฝน 20% </span>
                            <span class="content-color font-sm">32°</span>
                        </div>
                    </div>
                    <div class="product-list media">
                        <img src="~/assets/images/weather/moon.png" class="img-fluid" alt="offer">
                        <div class="media-body">
                            <span class="font-sm title-color fw-600"> 20:00 โอกาสเกิดฝน 20% </span>
                            <span class="content-color font-sm">32°</span>
                        </div>
                    </div>
                    <div class="product-list media">
                        <img src="~/assets/images/weather/moon.png" class="img-fluid" alt="offer">
                        <div class="media-body">
                            <span class="font-sm title-color fw-600"> 21:00 โอกาสเกิดฝน 20% </span>
                            <span class="content-color font-sm">32°</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Main End -->
</div>
<!-- Skeleton loader End -->