@{
    ViewData["Title"] = "Register_Success";
    Layout = "~/Views/Shared/_SellerLogin.cshtml";
}

<!-- Main Start -->
<main class="main-wrap error-404 mb-xxl">
   
    <!-- Error Section Start -->
    <section class="error mb-large">
        <h2 class="font-lg">Register Success</h2>   
    </section>
    <!-- Error Section End -->
</main>
<!-- Main End -->